# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/
*.orig.*

# Metro
.metro-health-check*

# Build artifacts
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# macOS
.DS_Store

# Env / secrets
.env
.env.local
*.local

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# IDE
.idea/
*.iml
